Corona_Virus/.idea
Corona_Virus/.venv
Corona_Virus/archive

Creator_Analysis/.idea
Creator_Analysis/.venv
Creator_Analysis/archive
Creator_Analysis/.gitignore

TED_Talks/.idea
TED_Talks/.venv
TED_Talks/archive

.idea